<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="co.kr.fourteen.ese.history.mapper.EseHistoryMapper">

	<select id="historyList" resultType="co.kr.fourteen.ese.history.vo.EseHistoryVo">
		SELECT ID
			, YEAR
			, EVENT
			, DESCRIPTION
		FROM HISTORY
		ORDER BY YEAR ASC
	</select>

</mapper>