<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.kr.fourteen.jiyy.prac.mapper.JyPracUserMapper">

	<select id="userIdCheck" parameterType="String" resultType="int">
		SELECT COUNT(USER_ID) AS ID_CHECK
		FROM USER_INFO
		WHERE USER_ID = #{value}
	</select>

</mapper>