<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.kr.fourteen.taengEe.main.mapper.KthMapper">

	<select id="selectUserInfoList" resultType="co.kr.fourteen.taengEe.main.vo.KthVo">
		SELECT *
		FROM KTH_USER_INFO
	</select>

	<select id="selectUserInfo" parameterType="String" resultType="String">
		SELECT PHONE
		FROM KTH_USER_INFO
		WHERE ID = #{userId}
	</select>

	<insert id="insertUserInfo" parameterType="co.kr.fourteen.taengEe.main.vo.KthVo">
		INSERT INTO KTH_USER_INFO(
			ID,
			NAME,
			EMAIL,
			PHONE,
			ADDR
		) VALUE (
			#{id},
			#{name},
			#{email},
			#{phone},
			#{addr}
		)
	</insert>






</mapper>