<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.kr.fourteen.kcm.menu.mapper.MenuMapperKcm">

	<select id="mainTopMenuList" resultType="co.kr.fourteen.kcm.menu.vo.MenuVoKcm">
		SELECT MENU_ID
			, MENU_NM
			, MENU_URL
			, MENU_LEVEL
			, MENU_ORD
			, UP_MENU_ID
			, TOP_YN
			, USE_YN
			, REG_ID
			, REG_DT
		FROM CMM_MENU
		WHERE USER_ID = 'KCM'
		ORDER BY MENU_LEVEL, MENU_ORD ASC
	</select>

</mapper>