<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.kr.fourteen.seHyun.practice.user.mapper.YshPracticeUserMapper">

    <select id="idDoubleCheckBool" parameterType="String" resultType="int">
        SELECT
        COUNT(USER_ID)
        FROM USER_INFO
        WHERE USER_ID = #{userId}
    </select>

    <select id="idDoubleCheckInt" parameterType="String" resultType="String">
        SELECT
        USER_ID
        FROM USER_INFO
        WHERE USER_ID = #{userId}
    </select>

</mapper>